// Global Config

// Font Stacks
$font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 18px;

// Font Weights
$font-weight--light   : 100;
$font-weight--regular : 400;
$font-weight--bold    : 700;
$font-weight--black   : 900;

// Base color
$white  : #fff;
$black  : #000;
$grey   : #797e83;
$blue   : #1F83E5;

// Color Usage
$color-text: $black;
$color-link: $blue;

$assets : "assets/img";

// z-index
$zi-1 : -1;
$zi-2 : 1000;
$zi-3 : 2000;
$zi-4 : 3000;
$zi-5 : 9999;

//Breakpoints
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-fh: 1920px;