// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%fullblock {
    display: block;
    width: 100%;
    height: 100%;
}

// Center alignment
%center-align {
	text-align: center;
}

// For pseudo-elements
%pseudos {
  content: '';
  display: block;
  position: absolute;
}

%centerPseudoXY {
    @extend %pseudos;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%centerPseudoX {
    @extend %pseudos;
    left: 50%;
    transform: translateX(-50%);
}

%centerPseudoY {
    @extend %pseudos;
    top: 50%;
    transform: translateY(-50%);
}

// Center elements
%centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}